
# Copyright (c) 2020 Derek Schmell
# SPDX-License-Identifier: MIT


if SHIELD_MCEWING_LEFT

config ZMK_KEYBOARD_NAME
    default "MCEWing"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MCEWING_LEFT || SHIELD_MCEWING_RIGHT

config ZMK_SPLIT
    default y

endif
